@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: oklch(97.7% 0.013 236.62);
  --color-green-100: oklch(95.1% 0.026 236.824);
  --color-green-200: oklch(90.1% 0.058 230.902);
  --color-green-300: oklch(82.8% 0.111 230.318);
  --color-green-400: oklch(74.6% 0.16 232.661);
  --color-green-500: oklch(68.5% 0.169 237.323);
  --color-green-600: oklch(58.8% 0.158 241.966);
  --color-green-700: oklch(50% 0.134 242.749);
  --color-green-800: oklch(44.3% 0.11 240.79);
  --color-green-900: oklch(39.1% 0.09 240.876);
  --color-green-950: oklch(29.3% 0.066 243.157);
}
